.ttTabsRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ttTabsLeft {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
